/*Common*/
body {
    height: 100%;
    padding:10px;
}

.margin-10 {
    padding:10px;
}

#canvasHolder .canvas-container {
    margin: 10px;
}

#canvasHolder .upper-canvas {
    
    border: solid 2px #000;
}
